.main-dark.dark {
    width: auto;
    height: auto;
    background-color: #0F172A;

    .welcome-div {
        background: #1E293B;
    }

    .welcome-headings {
        .welcome-headline {
            color: #F1F5F9;
        }

        .welcome-pharaghrap {
            color: #CBD5E1;
        }
    }

    .welcome-buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .connect-withus-btn {
            color: #F1F5F9;
            background: #121f36;
            border: 1px solid #334155;
        }

        .welcome-others-btn {
            color: #F1F5F9;
            border: 1px solid #334155;
        }

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    .latest-news {
        .latest-news-left {
            .lnews-topic {
                h3 {
                    color: #F1F5F9;
                }

                button {
                    color: #CBD5E1;
                    border: 1px solid #334155;
                    background: #1E293B;
                }
            }

            .lnews-main {

                .lnews-box {
                    border: 1px solid #334155;
                    background: #1E293B;

                    img {
                        opacity: 70%;
                    }

                    .lnews-box-right {
                        .lnews-inf-top {
                            .lnews-date {
                                p {
                                    color: #CBD5E1;
                                }
                            }

                            .lnews-texts {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;

                                h3 {
                                    color: #F1F5F9;
                                }

                                p {
                                    color: #CBD5E1;
                                }
                            }

                            .lnews-read-more {
                                .lnews-link {
                                    color: #CBD5E1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .lnews-right {
            background: #1E293B;

            .lnews-right-top {
                background: #121f36;

                h3 {
                    color: #F1F5F9;
                }
            }

            .lnews-right-bottom {
                .lnews-righ-btm-list {
                    .lnews-icons {
                        background: #121f36;
                        color: #CBD5E1;
                    }

                    p {
                        color: #CBD5E1;
                    }
                }
            }
        }
    }

    .our-teachers {
        .our-teachers-top {
            h1 {
                color: #F1F5F9;
            }

            p {
                color: #CBD5E1;
            }

            .teachers-top-button {
                color: #CBD5E1;
                border: 1px solid #334155;
                background-color: #1E293B;
            }
        }

        .our-teachers-bottom {
            .our-teachers-left {
                .teacher-card {
                    background: #1E293B;

                    img {
                        opacity: 70%;
                    }

                    .teacher-info {
                        h3 {
                            color: #F1F5F9;
                        }

                        p {
                            color: #CBD5E1;
                        }
                    }
                }
            }

            .our-teachers-right {
                .teacher-card {
                    background: #1E293B;

                    img {
                        opacity: 70%;
                    }

                    .teacher-info {
                        h3 {
                            color: #F1F5F9;
                        }

                        p {
                            color: #CBD5E1;
                        }
                    }
                }
            }
        }
    }

    .our-school {
        .our-school-left {
            background: #1E293B;

            .school-img {
                &::after {
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #253a50 100%);
                }
            }

            .our-school-bottom {
                .ourschool-btm-info {

                    h3 {
                        color: #F1F5F9;
                    }

                    p {
                        color: #CBD5E1;
                    }
                }

                .ourshcool-btm-info2 {
                    .school-info-boxes {
                        background: #121f36;

                        h3 {
                            color: #F1F5F9;
                        }

                        p {
                            color: #CBD5E1;
                        }
                    }
                }
            }

            .info-read-more-link {
                background-color: #121f36;
                color: #CBD5E1;
            }
        }

        .our-school-right {
            background: #1E293B;

            .ourschool-right-top {
                background: #121f36;

                h3 {
                    color: #F1F5F9;
                }
            }

            .ourschool-btm {
                .events-boxes {
                    h3 {
                        color: #F1F5F9;
                    }

                    p {
                        color: #CBD5E1;
                    }
                }

                .border-bottom {
                    border-bottom: 1px solid #334155;
                }

                .end-year-consepts {
                    h3 {
                        color: #F1F5F9;
                    }

                    p {
                        color: #CBD5E1;
                    }
                }
            }

            .events-btm-div {
                padding: 24px;
            }

            .all-events-link {
                border: 1px solid #334155;
                color: #CBD5E1;
            }

        }
    }

    .photo-gallery {
        .photo-gallery-top {
            h1 {
                color: #F1F5F9;
            }

            button {
                border: 1px solid #334155;
                background: #1E293B;
                color: #CBD5E1;
            }
        }

        .photo-gallery-main {
            img {
                opacity: 80%;
            }
        }
    }
}

main {
    padding: 48px 0;
    background-color: rgba(245, 245, 245, 0.251);
}

.welcome-div {
    width: auto;
    height: auto;
    padding: 32px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    background: linear-gradient(90deg, #EFF6FF 0%, #EEF2FF 100%);
    border-radius: 20px;

    @media (min-width: 768px) {
        padding: 42px 48px;
    }

    @media (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        padding: 77px 65px;
    }
}

.welcome-left {
    flex: 1;
    padding: 20px;
}

.welcome-headings {
    display: flex;
    flex-direction: column;
    gap: 27px;

    .welcome-headline {
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        line-height: 45px;
        color: #111827;
    }

    .welcome-pharaghrap {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 28px;
        color: #4B5563;
    }

    @media (min-width: 768px) {
        gap: 21px;

        .welcome-headline {
            font-weight: 700;
            font-style: Bold;
            line-height: 48px;
            font-size: 48px;
        }
    }

    @media (min-width: 1440px) {
        gap: 34px;
        padding-right: 31px;

        .welcome-headline {
            font-style: Bold;
            font-size: 60px;
            line-height: 60px;
        }
    }
}

.welcome-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .connect-withus-btn {
        max-width: 210px;
        height: auto;
        padding: 13px 20px;
        border: none;
        border-radius: 9999px;
        display: flex;
        gap: 7px;
        justify-content: center;
        align-items: center;
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #2563EB;
    }

    .welcome-others-btn {
        max-width: 168px;
        border: 1px solid #111827;
        padding: 13px 20px;
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
    }

    @media (min-width: 768px) {
        margin-top: 32px;
        flex-direction: row;
    }
}


.welcome-right {
    display: flex;
    align-items: flex-start;
    /* Rasmni tepaga yopishtiradi */
    justify-content: flex-start;

    @media (min-width: 1440px) {
        display: flex;

        .school-png {
            max-width: 500px;
            max-height: 375px;
            border-radius: 16px;
        }
    }
}

.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    position: relative;
    top: 0;
    height: auto;
}

.welcome-right img {
    width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    transition: width 0.5s ease, opacity 0.5s ease;
    display: block;
    align-self: flex-start;
}

@media (min-width: 1440px) {
    .welcome-right img {
        width: 600px;
        opacity: 1;
    }
}

@media (max-width: 1440px) and (min-width: 1221px) {

    .welcome-right img {
        width: calc((100vw - 1220px) * 2 + 100px);
        max-width: 600px;
        opacity: 1;
    }
}

@media (max-width: 1220px) {
    .welcome-right img {
        width: 0;
        opacity: 0;
        pointer-events: none;
    }
}

.latest-news {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 1440px) {
        flex-direction: row;
    }

    .latest-news-left {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;

        @media (min-width: 768px) {
            gap: 36px;
            width: 100%;
        }

        @media (min-width: 1440px) {
            width: 70%;
        }

        .lnews-topic {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                width: 50%;
                font-family: Inter;
                font-weight: 700;
                font-style: Bold;
                font-size: 24px;
                line-height: 32px;
                color: #111827;
            }

            button {
                max-width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 12px;
                justify-content: space-between;
                gap: 7px;
                color: #130428;
                border-radius: 9999px;
                border: 1px solid #E2E8F0;
                background: #FFF;
            }
        }

        .lnews-main {
            display: flex;
            flex-direction: column;
            gap: 25px;


            .lnews-box {
                width: 100%;
                height: auto;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                border-radius: 16px;
                border: 1px solid #E2E8F0;
                background: #FFF;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);


                @media (min-width: 768px) {
                    flex-direction: row;
                }

                img {
                    width: 100%;
                    height: 192px;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;

                    @media (min-width: 768px) {
                        width: 240px;
                        height: auto;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 16px;
                    }
                }

                .lnews-box-right {
                    display: flex;
                    flex-direction: column;
                    padding: 25px;
                    gap: 26px;

                    .lnews-inf-top {
                        display: flex;
                        flex-direction: column;
                        gap: 26px;

                        @media (min-width: 768px) {
                            gap: 37px;
                        }


                        .inf-top {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                        }


                        .lnews-date {
                            p {
                                font-family: Inter;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 14px;
                                line-height: 20px;
                                vertical-align: middle;
                                color: #6B7280;
                                display: flex;
                                gap: 4px;
                                align-items: center;
                            }
                        }

                        .lnews-texts {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h3 {
                                font-family: Inter;
                                font-weight: 600;
                                font-style: Semi Bold;
                                font-size: 20px;
                                line-height: 28px;
                                letter-spacing: -0.5px;
                                color: #020817;
                            }

                            p {
                                font-family: Inter;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 16px;
                                line-height: 24px;
                                color: #64748B;
                            }
                        }

                        .lnews-read-more {
                            .lnews-link {
                                display: flex;
                                align-items: center;
                                gap: 7px;
                                font-family: Inter;
                                font-weight: 500;
                                font-style: Medium;
                                font-size: 14px;
                                line-height: 20px;
                                text-align: center;
                                color: #2563EB;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }

    .lnews-right {
        width: auto;
        height: 100%;
        border-radius: 16px;
        box-shadow: 0px 1px 2px 0px #0000000D;
        background: #FFF;

        @media (min-width: 1440px) {
            width: 384px;
        }

        .lnews-right-top {
            background: #EFF6FF;
            padding: 24px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;

            h3 {
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                color: #111827;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: -0.5px;
            }
        }

        .lnews-right-bottom {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 24px;

            .lnews-righ-btm-list {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 16px;

                .lnews-icons {
                    width: 40px;
                    height: 40px;
                    border-radius: 12px;
                    background: #DBEAFE;
                    display: flex;
                    align-items: center;
                    color: #2563EB;
                    justify-content: center;
                }

                p {
                    font-family: Inter;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 24px;
                    color: #111827;
                }
            }
        }
    }
}

.our-teachers {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .our-teachers-top {
        display: flex;
        justify-content: end;
        flex-direction: row;

        .teachers-top-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 16px;
            width: auto;

            h1 {
                font-family: Inter;
                font-weight: 700;
                font-style: Bold;
                font-size: 30px;
                line-height: 36px;
                text-align: left;
                color: #111827;
            }

            p {
                width: auto;
                height: auto;
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #4B5563;
            }
        }

        .teachers-top-button {
            width: auto;
            max-width: 200px;
            height: 40px;
            display: flex;
            gap: 7px;
            justify-content: space-around;
            align-items: center;
            padding: 0 12px;
            border: 1px solid #E2E8F0;
            background-color: #FFF;
        }
    }

    .our-teachers-bottom {
        gap: 32px;

        .our-teachers-left {
            display: grid;
            gap: 32px;


            @media (min-width: 600px) {
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            }

            @media (min-width: 768px) {
                grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
            }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
            }

            @media (min-width: 1440px) {
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            }

            .teacher-card {
                width: auto;
                height: 420px;
                border-radius: 16px;
                background: #FFF;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);


                @media (min-width: 1440px) {
                    // width: 280px;
                    height: 380px;
                }

                img {
                    width: 100%;
                    height: 300px;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;

                    @media (min-width: 1440px) {
                        // width: 280px;
                        height: 280px;
                    }
                }

                .teacher-info {
                    padding: 24px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        font-family: Inter;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        color: #111827;
                    }

                    p {
                        font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #2563EB;
                    }
                }
            }
        }

        .our-teachers-right {
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media (min-width: 1440px) {
                flex-direction: row;
            }

            .teacher-card {
                width: auto;
                height: auto;
                border-radius: 16px;
                background: #FFF;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

                @media (min-width: 1440px) {
                    width: 280px;
                    height: 380px;
                }

                img {
                    width: 100%;
                    height: auto;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;

                    @media (min-width: 1440px) {
                        width: 280px;
                        height: 280px;
                    }
                }

                .teacher-info {
                    padding: 24px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        font-family: Inter;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        color: #111827;
                    }

                    p {
                        font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #2563EB;
                    }
                }
            }
        }
    }
}

.our-school {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (min-width: 1440px) {
        flex-direction: row;
    }

    .our-school-left {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: auto;
        height: 100%;
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);



        .school-img {
            position: relative;
            display: inline-block;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #FFFFFF 100%);
            }

            img {
                width: 100%;
                height: 192px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
        }

        .our-school-bottom {
            display: flex;
            flex-direction: column;
            gap: 26px;
            padding: 0 32px 0 32px;

            .ourschool-btm-info {
                display: flex;
                flex-direction: column;
                gap: 18px;

                h3 {
                    font-family: Inter;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: #111827;
                }

                p {
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: #4B5563;
                }
            }

            .ourshcool-btm-info2 {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .info-box-top {
                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));

                    @media (max-width: 767px) {
                        grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));

                    }

                    @media (min-width: 768px) and (max-width: 1439px) {
                        grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
                    }
                }

                .school-info-boxes {
                    width: 100%;
                    height: auto;
                    padding: 16px;
                    border-radius: 16px;
                    background: #EFF6FF;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-family: Inter;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 30px;
                        line-height: 36px;
                        color: #2563EB;
                    }

                    p {
                        font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #4B5563;
                    }
                }
            }
        }

        .info-read-more-link {
            margin: 0 32px 32px 32px;
            width: fit-content;
            padding: 10px 20px;
            height: auto;
            border-radius: 9999px;
            background-color: #2563EB;
            border: none;
            color: #FFFFFF;
            display: flex;
            gap: 7px;
            justify-content: center;
            align-items: center;
        }
    }

    .our-school-right {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: auto;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);


        .ourschool-right-top {
            padding: 24px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            background: #EFF6FF;

            h3 {
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 20px;
                line-height: 28px;
                color: #111827;
            }
        }

        .ourschool-btm {
            padding: 0 24px 0 24px;
            display: flex;
            flex-direction: column;
            gap: 25px;

            .events-boxes {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-bottom: 25px;

                h3 {
                    font-family: Inter;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 18px;
                    color: #111827;
                    line-height: 28px;
                }

                p {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 20px;
                    color: #4B5563;
                }


            }

            .border-bottom {
                border-bottom: 1px solid #F3F4F6;
            }

            .end-year-consepts {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h3 {
                    font-family: Inter;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 18px;
                    color: #111827;
                    line-height: 28px;
                }

                p {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 20px;
                    color: #4B5563;
                }
            }
        }

        .events-btm-div {
            padding: 24px;
        }

        .all-events-link {
            border: 1px solid #111827;
            width: 100%;
            height: 40px;
            display: flex;
            gap: 7px;
            background: transparent;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
        }

    }
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .photo-gallery-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-family: Inter;
            font-weight: 700;
            font-style: Bold;
            font-size: 30px;
            line-height: 36px;
            color: #130428;
        }

        button {
            width: auto;
            height: 40px;
            padding: 0 15px;
            border-radius: 9999px;
            border: 1px solid #E2E8F0;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            color: #020817;
        }
    }

    .photo-gallery-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

    }

    .photo-gallery-main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 16px;
            opacity: 0.8;
            transition: 0.3s;
        }

        img:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }
}