.result-list.dark {
    background-color: #1E293B;
    color: #fff;
}

.result-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0 20px;
    max-height: 300px;
    overflow-y: auto;
    font-family: Inter;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}