.teachers-dark.dark {
    background-color: #0F172A;

    h1 {
        color: #F1F5F9;
    }
}


.teachers-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    padding: 50px 0;

    h1 {
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        line-height: 40px;
        color: #2563EB;
    }

    .teachers-main {
        gap: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}